:root {
  --black: #000;
  --white: #fff;
  --c50:#ECEFF1;
  --c100:#CFD8DC;
  --c200:#B0BEC5;
  --c300:#90A4AE;
  --c400:#78909C;
  --c500:#607D8B;
  --c600:#546E7A;
  --c700:#455A64;
  --c800:#37474F;
  --c900:#263238; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #87e0fd;
  background: -moz-linear-gradient(-45deg, #87e0fd 0%, #05abe0 100%);
  background: -webkit-linear-gradient(-45deg, #87e0fd 0%, #05abe0 100%);
  background: linear-gradient(135deg, #445963 0%, #273238 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); }

.layout {
  width: 100%;
  height: 100%; }

.header {
  text-align: center;
  margin-top: 40px; }
  .header__title {
    color: var(--c50);
    font-size: 20px;
    margin: 0; }
  .header__sub-title {
    color: var(--c100);
    margin: 10px 0 0 0; }

.palette {
  position: absolute;
  bottom: 0px;
  right: 0px; }
  .palette ul {
    margin: 0;
    padding: 0; }
  .palette__item {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-top-left-radius: 20%;
    box-shadow: -5px -1px 6px 0px var(--black);
    text-align: center;
    font-size: 12px;
    position: relative; }
    .palette__item--color1 {
      background: var(--c50); }
    .palette__item--color2 {
      background: var(--c100); }
    .palette__item--color3 {
      background: var(--c200); }
    .palette__item--color4 {
      background: var(--c300); }
    .palette__item--color5 {
      background: var(--c400); }
    .palette__item--color6 {
      background: var(--c500); }
    .palette__item--color7 {
      background: var(--c600); }
    .palette__item--color8 {
      background: var(--c700); }
    .palette__item--color9 {
      background: var(--c800); }
    .palette__item--color10 {
      background: var(--c900); }
    .palette__item-copy {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%); }

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "output output output output" "clear clear clear divided" "seven eight nine multiplied" "four five six minus" "one two three plus" "zero zero zero equals";
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid var(--c700);
  color: var(--c200);
  border-radius: 5px; }
  .grid__item {
    border: 1px solid var(--c900);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursour: pointer;
    transition: background 0.5s ease; }
    .grid__item:hover {
      background: var(--c600); }
  .grid__output {
    grid-area: output;
    text-align: right; }
  .grid__clear {
    grid-area: clear; }
  .grid__divided {
    grid-area: divided; }
  .grid__seven {
    grid-area: seven; }
  .grid__eight {
    grid-area: eight; }
  .grid__nine {
    grid-area: nine; }
  .grid__multiplied {
    grid-area: multiplied; }
  .grid__four {
    grid-area: four; }
  .grid__five {
    grid-area: five; }
  .grid__six {
    grid-area: six; }
  .grid__minus {
    grid-area: minus; }
  .grid__one {
    grid-area: one; }
  .grid__two {
    grid-area: two; }
  .grid__three {
    grid-area: three; }
  .grid__plus {
    grid-area: plus; }
  .grid__zero {
    grid-area: zero; }
  .grid__equals {
    grid-area: equals; }

/*# sourceMappingURL=kassa.css.map */
